alias to-gif='/Users/rvetas/myScripts/toGif.sh'
alias check-linters='bundle exec fastlane check_linters'
alias check-ruby='bundle exec fastlane check_rubocop mode:a'
alias g='git'
alias gss='git status -sb'
alias gp='git push'
alias gb='git branch'
alias gc='git checkout'
alias gcm='git commit -m'
alias gpu='git pull'
alias gap='git add -p'
alias gundo='git checkout --'
alias clean-install='bundle exec pod install --clean-install'
alias generate-mocks='bundle exec agen mocks -p'
alias gdcb='git push origin --delete $(current_branch)'
alias restart-audio='sudo launchctl stop com.apple.audio.coreaudiod && sudo launchctl start com.apple.audio.coreaudiod'
alias am-ios='open /Users/rvetas/dev/alfa/am-ios/AlphaBank.xcworkspace'
alias sf='open /Users/rvetas/dev/alfa/shared-frameworks/SharedFrameworks.xcworkspace'
alias save-minecraft='git add . && git commit -m "$(date)" && git push'
alias vscode='open /Applications/Visual\ Studio\ Code.app/'
alias xcode='open -a Xcode'
alias indeed='java -jar ~/dev/otp-generator.jar $INDEED_DEVICE $INDEED_DEEPLINK | pbcopy'
alias cat='bat'
alias xbs='xcode-build-server'
alias gcd='cd "$(git rev-parse --show-toplevel)"'
alias wget='_wget'
