function touch-swift() {
    touch $1 && echo "// Created by $(git config user.name) on $(date +"%d/%m/%y")" > $1
}

# Bluetooth restart
function btrestart() {
  sudo kextunload -b com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport
  sudo kextload -b com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport
}

function releases() {
  git tag --contains $1 --sort=-committerdate | grep -e '[0-9]\+\.[0-9]\+\(\.[0-9]\+\)\?' | sort
}

function esp2svg() {
  # Проходим по всем .eps файлам в папке
  for file in *.eps; do
      # Извлекаем имя файла без расширения
      filename="${file%.*}"
    
      # Конвертируем каждый .eps файл в .svg с помощью Inkscape
      inkscape "$file" --export-type=svg --export-filename="$filename.svg"
    
      # Проверяем успешность конвертации
      if [ $? -eq 0 ]; then
          echo "$file успешно конвертирован в $filename.svg"
      else
          echo "Ошибка при конвертации $file"
      fi
  done
}

generate-tags() {
  echo "e"
  echo "!_TAG_FILE_SORTED\t0\t \n" > tags # очищаем файл tags
  find . \( -path './.trash' -o -path './.obsidian' \) -prune -o -type f -print | sort -f | while read -r filepath; do
    # Убираем расширение у файла
    filename=$(basename "$filepath")
    filename="${filename%.*}"

    # Оборачиваем путь в кавычки для обработки пробелов
    #filepath_escaped=$(echo "$filepath" | sed 's/ /\\ /g')  # экранируем пробелы
	# filepath_escaped="\"$filepath_escaped\""

    tag="[[${filename}]]"
    # Записываем тег с путём и номером строки (1 для начала)
    echo -e "$tag\t$filepath\t1" >> tags
  done
  # sort -f tags -o tags
}

function _wget() { curl "${1}" -o $(basename "${1}") ; };

is_dark_mode() {
    mode="$(defaults read -g AppleInterfaceStyle 2>/dev/null || true)"
	[ "$mode" = "Dark" ]
}

is_dark_mode_string() {
	if is_dark_mode; then
		echo "true"
	else
		echo "false"
	fi
}
