[submodule ".vim/pack/plugins/start/splitjoin"]
	path = .vim/pack/plugins/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/YouCompleteMe/opt/YouCompleteMe"]
	path = .vim/pack/YouCompleteMe/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".vim/pack/plugins/start/ultisnips"]
	path = .vim/pack/plugins/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
