[submodule ".vim/pack/plugins/start/splitjoin"]
	path = .vim/pack/plugins/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/YouCompleteMe/opt/YouCompleteMe"]
	path = .vim/pack/YouCompleteMe/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".vim/pack/plugins/start/ultisnips"]
	path = .vim/pack/plugins/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
