[push]
	autoSetupRemote = true
[include]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/dev/alfa/"]
    path = ~/.gitconfig-company

[includeIf "gitdir:~/dev/alfa"]
    path = ~/.gitconfig-company
[core]
	hooksPath = /Users/rvetas/.git-config/hooks
[http]
	version = HTTP/1.1
[lfs]
	downloadtransfers = basic,lfs-standalone-file,ssh
	pruneverifyremotealways = true
	uploadtransfers = basic,lfs-standalone-file,ssh
