[push]
	autoSetupRemote = true
[include]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/dev/alfa/"]
    path = ~/.gitconfig-company

[includeIf "gitdir:~/dev/alfa"]
    path = ~/.gitconfig-company
