[push]
	autoSetupRemote = true
[include]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/dev/alfa/"]
    path = ~/.gitconfig-company

[includeIf "gitdir:~/dev/alfa"]
    path = ~/.gitconfig-company
[core]
	hooksPath = /Users/rvetas/.git-config/hooks
	excludesfile = /Users/rvetas/dotfiles/.gitignore-global
[http]
	version = HTTP/1.1
[lfs]
	downloadtransfers = basic,lfs-standalone-file,ssh
	pruneverifyremotealways = true
	uploadtransfers = basic,lfs-standalone-file,ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[advice]
	detachedHead = false
